@import "bourbon"

/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-height: 920px)
	//asc
@media only screen and (max-width: 1700px), (max-height: 920px)
	.submit-lable-audit
		padding-right: 37px
	.intermediate-section
		.wrapper
			.position
				top: calc(50% - 255px)
				.image
					margin-bottom: 24px
					width: 400px
				.title
					margin-bottom: 10px
	.advertising-section
		.wrapper
			.position
				top: calc(50% - 283px)
				.aside
					margin-bottom: 30px
					font-size: 2rem
				.item
					padding: 27px 25px 20px
					min-height: 430px
					&.item-3
						.text
							margin-bottom: 30px
							li
								margin-bottom: 9px
					&.item-2
						.text
							margin-bottom: 21px
							li
								margin-bottom: 9px
					&.item-1
						.text
							margin-top: 13px
							margin-bottom: 41px
							li
								margin-bottom: 9px
				.title
					font-size: 3.2rem
	.about-contextual-advertising-section
		.wrapper
			.position
				top: calc(50% - 266px)
				.item-1,
				.item-2
					float: left
					.item-title
						font-size: 2.3rem
				.item-1
					width: 30%
					margin-right: 20px
					.arrow-wrap
						left: inherit
						right: -18px
						transform: rotate(-90deg)
						bottom: 65px
				.item-2
					width: 68%
					margin-bottom: 20px
					.item-title
						margin-bottom: 7px
				.item-3
					.item-content
						margin-top: 15px
						padding: 0 89px
						img
							margin-bottom: 15px
	.about-lever-context-container
		h3
			margin-bottom: 45px
			margin-top: 42px
	.advertising-container
		padding: 0 129px
	.tabs-container
		padding: 0
	.another-promotion
		.another-promotion-title
			width: 309px
			margin: 0
	.header_logo
		width: 40px
		height: 37px
	.header_nav
		margin-top: 10px
		font-size: 15px
	.call_information
		span
			font-size: 12px
		b
			font-size: 16px
	.advertising-container
		top: calc(50% - 175px)
	.top-menu-container
		padding: 0
	.scroll-mouse-container
		bottom: 50px
	.advertising-title-aside-main
		font-size: 25px
	.header-add-project-container
		padding: 20px
	.add-massage-form
		input
			width: 237px
		*::-webkit-input-placeholder
			font-size: 16px
		*:-moz-placeholder
			font-size: 16px
		*::-moz-placeholder
			font-size: 16px
		*:-ms-input-placeholder
			font-size: 16px
		input[type=submit]
			width: 265px
	.header-add-project-title
		h2
			font-size: 22px
			margin-right: 0
		p
			margin-right: 0
			margin-left: 0
	.scroll-mouse-container
		h2
			font-size: 20px

	.about-lever-context-container
		top: calc(50% - 208px)
		h3
			font-size: 3rem
	.clever-context-image-blackboard,
	.clever-context-image-coffee,
	.clever-context-image-money
		height: 80px
	.audit-information-container
		margin-top: 20px
	.audit-information-title
		font-size: 2.4rem
		p
			padding: 20px 0 30px
	.audit-form-title
		margin-bottom: 16px
	.about-us-container
		top: calc(50% - 138px)
		margin: 0
	.about-us-container-title
		font-size: 3rem
		top: calc(50% - 273px)
		p
			margin-top: 6px
	.about-us-icon-diamond
		width: 60px
		margin-bottom: 18px
	.about-us-icon-credit
		margin-bottom: 15px
		width: 87px
	.about-us-icon-pencil
		margin-bottom: 14px
		width: 69px
	.about-us-icon-banner
		width: 54px
		margin-bottom: 16px
	.about-us-aside
		font-size: 1.4rem
		h3
			font-size: 1.8rem
			margin-bottom: 10px
	.clever-context-image-money,
	.clever-context-image-coffee,
	.clever-context-image-blackboard
		margin-bottom: 13px
	.main-result-container
		bottom: calc(50% - 302px)
	.main-result
		padding: 16px 0
		h2
			font-size: 2.5rem
			margin-bottom: 10px
	.main-result-list
		padding-left: 50px
		padding-right: 25px
		margin-bottom: 25px
		font-size: 1.5rem
		li
			margin-bottom: 3px
	.about-contextual-advertising-wrap-1,
	.about-contextual-advertising-wrap-2
		img
			height: 240px
	.about-contextual-advertising-wrap-1,
	.about-contextual-advertising-wrap-2
		h2
			font-size: 2.4rem
		p
			font-size: 1.4rem
	.about-contextual-advertising-position
		top: calc(50% - 290px)
	.about-contextual-advertising-title
		font-size: 3rem
	.finished-result-container-title
		font-size: 3rem
	.owl-carousel-list-title
		font-size: 2.5rem
		padding-bottom: 15px
	.owl-carousel-list-article
		padding-bottom: 10px
	.owl-carousel-list-img-container
		width: 540px
	.owl-carousel-container
		top: calc(50% - 180px)
	.owl-nav
		padding-top: 10px
	.finished-result-container-title
		top: calc(50% - 280px)
	.starting-work-item-title
		.icon-container
			width: 31px
			height: 30px
	.starting-work-item
		width: 306px

	.starting-work-item-title
		font-size: 1.4rem
		padding: 12px 26px 21px 36px
	.tabs-wrap-container
		padding: 20px 25px
	.starting-work-item
		padding-bottom: 23px
		span
			font-size: 2.2rem
			padding: 5px 0
		aside
			padding: 15px 10px 6px
			b
				font-size: 2.3rem
				margin-top: 3px
			p
				margin-bottom: 3px
	.another-promotion
		padding-top: 0
		.another-promotion-title
			line-height: 35px
			font-size: 2.2rem
		.another-promotion-item
			p
				margin-bottom: 2px
			h4
				font-size: 2.2rem
			ul
				font-size: 1.3rem
	.starting-work-container-position
		padding: 0 81px
		top: calc(50% - 374px)
	.starting-work-container-title
		margin-bottom: 25px
		line-height: 32px
		p
			font-size: 3rem
			padding-bottom: 0px
	.developed-sociality-container-title
		margin-bottom: 10px
		b
			font-size: 3rem
	.developed-sociality-foto-aside
		font-size: 2.2rem
		p
			margin-bottom: 10px
	.developed-sociality-wrap

		li
			margin-bottom: 10px
		h3
			font-size: 2rem
		img
			width: 140px
		aside
			margin-bottom: 5px
			font-size: 1.2rem
	.developed-sociality-foto-wrap
		img
			width: 450px
	.developed-sociality-foto-position
		top: calc(50% - 260px)
	.footer_logo
		width: 158px
	.call_information
		&.footer-call
			text-align: center
	.footer-link-icon
		text-align: center
	.footer-row
		left: 0
		right: 0
		padding-top: 25px
	.footer-title
		font-size: 3rem
		margin-bottom: 45px
	.footer-nav-container
		margin-bottom: 20px
	.accordion_title
		font-size: 2rem
		height: 42px
		span
			top: 9px
	.accordion_content
		font-size: 1.5rem
	.main-quetions-container-title
		font-size: 3rem
		margin-bottom: 15px
	.ask-quetion-submit
		margin-top: 15px
	.main-quetions
		top: calc(50% - 219px)
	.solution-section
		.title
			font-size: 2.7rem
		.solution-position
			top: calc(50% - 280px)
		.about-problems
			padding: 0
			line-height: 23px
			font-size: 1.7rem
		.text-container
			font-size: 1.7rem
			font-weight: 100
			margin: 15px 0
			line-height: 22px
		.number
			font-size: 5rem
			line-height: 57px

		.developers
			.developers-item
				padding: 0 33px
			.title
				margin-bottom: 6px
			.name
				font-size: 2.4rem
			.skills
				font-size: 1.5rem
			.add-prop
				font-size: 1.5rem
				padding: 5px 30px
				margin-top: 10px

@media only screen and (max-width: 1200px)
	.section
		overflow: auto
	.about-contextual-advertising-section
		.wrapper
			height: auto
			padding: 50px 0
			.position
				position: static
				.item-1
					z-index: 10
					.arrow-wrap
						left: 0px
						right: 0px
						bottom: -26px
						transform: rotate(0deg)
				.item-1,
				.item-2
					float: none
					width: inherit
					margin: 0 auto 20px
	.intermediate-section
		.wrapper
			height: auto
			padding: 70px 0
			.position
				position: static
			.item
				input[type=submit]
					width: 100%
	.advertising-section
		.wrapper
			height: auto
			padding: 70px 0
			.position
				position: static
				.item
					min-height: 570px
					position: relative
					input[type=submit]
						position: absolute
						left: 0
						right: 0
						margin: auto
						bottom: 34px
						width: 90%
				.aside
					margin-bottom: 30px
	.about-contextual-advertising-wrap-2
		margin-bottom: 30px
	.another-promotion
		.another-promotion-title
			text-align: center
			width: 100%
			margin: 0
			margin-bottom: 25px
		.another-promotion-item
			display: block
	.advertising-container,
	.tabs-container,
	.starting-work-container-position
		padding: 0
	.advertising-container
		padding-top: 80px
	section
		margin-bottom: -3px
	.header_nav
		display: none
	.button-mobile-menu
		display: block
		z-index: 100
	.mobile-menu
		display: block
	.call_information_container
		text-align: center
		.call_information
			margin: 0
	.about-us-container-item
		display: inline-block
		margin-bottom: 60px
	.main-about-us-container
		padding: 100px 0
	.main-result-container
		margin-top: 65px
	.owl-carousel-list-img-container
		width: 100%
	.scroll-mouse-container
		display: none
	.header-form
		input[type=submit]
			margin-top: 10px
	.header-add-project-container
		margin-top: 40px
		margin-bottom: 50px

	.main-result-container
		margin-top: 0
	.starting-work-item-title
		opacity: 1
	.starting-work-item

		input
			padding: 7px 60px
	.developed-sociality-foto-wrap
		img
			width: 450px
	.main
		transition: .5s
		right: 0
		position: relative
		&.active
			right: 200px
	.footer-title
		padding: 0
	.footer-nav-container
		display: none
	.footer-container
		margin: 60px 0
	.call_information_container
		text-align: center
		margin: auto
		width: 240px
		padding: 0
	.about-contextual-advertising-wrap-1,
	.about-contextual-advertising-wrap-2
		img
			width: 450px
	.starting-work-item-title
		padding: 17px 0 26px 14px
		font-size: 1.5rem
	body,
	html
		overflow: visible
	.starting-work-container-title
		margin-top: 85px
	.tabs-item-conatiner
		margin-bottom: -1px
	.tabs-container
		margin-bottom: 50px
	.main-quetions-container-title
		margin-top: 85px
	.ask-quetion-submit
		margin-bottom: 50px
	.developed-sociality-container-title
		margin-top: 26px
	.developed-sociality-wrap
		img
			width: 100px
	.developed-sociality-container
		margin: 50px 0
	.about-lever-context-container
		margin-bottom: 50px
	.about-lever-context-container-title,
	.finished-result-container-title
		margin-top: 50px
	.call_information_container
		width: 240px
	.owl-carousel-list-title
		p
			display: block
		a
			margin: 0
	.footer-position-contaiener
		min-height: 0
	.footer-row
		margin-bottom: 10px
	.another-promotion
		margin-bottom: 35px
		.another-promotion-title
			font-size: 2.5rem
		.another-promotion-item
			h4
				font-size: 2rem
	.finished-result-container-title
		p
			display: inline-block
	.solution-section
		.title
			margin-top: 50px
		.number
			&:before
				left: 0
				width: calc(50% - 30px)
			&:after
				right: 0
				width: calc(50% - 30px)
		.developers
			padding-bottom: 50px
	.main-quetions-container,
	.starting-work-container,
	.header-container,
	.main-container-clever-context,
	.main-about-us-container,
	.finished-result-container,
	.developed-sociality-container,
	.footer-position-contaiener,
	.solution-container
		min-height: 0
@media only screen and (max-height: 950px)
	.top-menu-container
		width: 100%

/* Medium Devices, Desktops */
@media only screen and (max-width: 999px)
	.audit-form,
	.add-massage-form
		width: auto
		input
			width: 100%
		input[type=submit]
			margin-top: 8px
			width: 100%
	.audit-form-input-container,
	.input-container
		display: block
		margin: auto
		margin-bottom: 9px
	.submit-lable-audit
		text-align: center
		padding-left: 12px
	.footer-form
		input
			margin: 0
	.footer-row
		margin-bottom: 25px

@media only screen and (max-width: 992px)
	/**/
	.solution-section
		.title
			margin-top: 50px
		.developers
			padding-bottom: 50px
			.name
				font-size: 2rem
			.developers-item
				margin-bottom: 20px
		.about-problems
			font-size: 1.7rem
			padding: 0
		.text-container
			p
				display: inline

	.about-us-icon-container
		margin-bottom: 20px
	.header-add-project-container
		padding: 10px
	.about-us-container-item
		margin-bottom: 0
	.starting-work-item-container
		margin-bottom: 50px
	.accordion_title
		height: auto
		span
			top: 10px
			right: 15px
	.about-contextual-advertising-wrap-1,
	.about-contextual-advertising-wrap-2
		img
			width: 400px
	.starting-work-container-position
		padding: 0
	.advertising-title
		margin: 0
	.about-us-container-title
		p
			padding: 0
	.about-lever-context-col
		width: 400px
		margin: auto
		margin-bottom: 50px
	.starting-work-item
		margin: 0 5px
		aside
			padding: 0
			padding-top: 10px
		a
			padding: 7px 58px

	.audit-form
		input
			margin-right: 0
			width: 100%
	.call_information
		b
			font-size: 15px
	.tabs-wrap-container
		padding: 17px
	.submit-lable-audit
		padding-right: 0
		padding-left: 0
	.advertising-section
		.wrapper
			.position
				.item
					width: 50%
					min-height: 0
					margin: auto
					margin-bottom: 30px
					input[type=submit]
						position: static
	.advertising-section
		.wrapper
			.position
				.title
					font-size: 2.4rem
				.aside
					font-size: 1.8rem
					p
						display: inline
	.popup5
		.dm-modal
			width: 100%
			padding: 50px 20px 10px

/* Small Devices, Tablets */
		

@media only screen and (max-width: 768px)
	#form
		input
		*::-webkit-input-placeholder
			font-size: 16px

		*:-moz-placeholder
			font-size: 16px

		*::-moz-placeholder
			font-size: 16px

		*:-ms-input-placeholder
			font-size: 16px
	.popup-8
		.dm-modal
			width: 420px
		#form
			width: 100%
			.form-aside
				h4
					font-size: 2.5rem
		.modal-photo
			display: none
	.advertising-title,
	.footer-aside
		text-align: center
		padding: 0
	.about-us-container-title
		p
			padding: 0
	.starting-work-container-position
		padding: 0
	.melfori-footer,
	.footer-link-icon,
	.privaci-politic
		padding: 0
		padding-bottom: 20px
		text-align: center
	.header-form
		margin: 0
		margin-bottom: 50px
	.about-contextual-advertising-wrap-1,
	.about-contextual-advertising-wrap-2
		img
			width: 350px
		h2
			font-size: 2.5rem
	.about-contextual-advertising-title
		font-size: 3rem
	.about-us-icon-container
		margin-bottom: 50px
		width: 400px
	.starting-work-item-title
		padding: 17px 22px 26px 14px
		font-size: 1.5rem
	.starting-work-item-title
		text-align: center
		.icon-container
			float: none
			margin: 0
			margin-bottom: 10px
	.starting-work-item
		span
			font-size: 2.6rem
			padding: 5px 0
		aside
			b
				font-size: 2.3rem
		a
			padding: 7px 38px
	.starting-work-item-title
		padding: 17px 0 26px 0
		border-radius: 8px
		margin-bottom: 10px
		width: 150px
	.tabs-item
		padding: 0
		float: none
	.tabs-wrap-container
		float: right
		width: calc(100% - 180px)
		padding: 0
		background: transparent
	.tabs-wrap
		&.active
			display: block
	.starting-work-item
		display: block
	.tabs-item-conatiner
		float: left
	.starting-work-item
		border-radius: 7px
		margin: 0
		margin-bottom: 15px
	.starting-work-container
		margin-bottom: 30px
	.owl-carousel-list
		padding: 0
	.finished-result-container-title
		font-size: 3rem
		margin-top: 40px
		margin-bottom: 20px
	.owl-carousel-list-title
		font-size: 2.3rem
		padding-bottom: 10px
		a
			margin: 0

	.owl-carousel-list-article
		h4
			font-size: 2rem
	.header_logo
		margin: 0 0 4px 0
		width: 47px
		height: 40px
		margin-top: 8px
	.advertising-title-aside-main
		font-size: 30px
	.developed-sociality-foto-wrap
		width: 100%

	.solution-section
		.developers
			padding-bottom: 50px
			.name
				font-size: 2rem
			.developers-item
				margin-bottom: 20px
		.about-problems
			font-size: 1.4rem
			line-height: 18px
			margin: auto
			margin-bottom: 30px
		.text-container
			p
				display: inline
	.advertising-section
		.wrapper
			.position
				.item
					width: 320px

	/*Disable Animation on Mobile Devices*/
	.animated
		/*CSS transitions*/
		-o-transition-property: none !important
		-moz-transition-property: none !important
		-ms-transition-property: none !important
		-webkit-transition-property: none !important
		transition-property: none !important
		/*CSS transforms*/
		-o-transform: none !important
		-moz-transform: none !important
		-ms-transform: none !important
		-webkit-transform: none !important
		transform: none !important
		/*CSS animations*/
		-webkit-animation: none !important
		-moz-animation: none !important
		-o-animation: none !important
		-ms-animation: none !important
		animation: none !important

/* Extra Small Devices, Phones */
@media only screen and (max-width: 767px)
	.solution-section
		.number
			width: 300px
		.about-problems
			width: 300px

@media only screen and (max-width: 680px)
	.about-contextual-advertising-wrap-1,
	.about-contextual-advertising-wrap-2
		img
			width: 300px

@media only screen and (max-width: 573px)

	.popup
		.success_mail
			padding-bottom: 40px

	.about-contextual-advertising-wrap-1,
	.about-contextual-advertising-wrap-2
		img
			float: none
			width: 100%
			margin: auto
	.popup,
	.popup6,
	.popup4,
	.popup7
		.dm-modal
			width: 100%
			padding: 50px 20px 10px

@media only screen and (max-width: 480px)
	/**/
	.about-contextual-advertising-section
		.wrapper
			.position
				.item-3
					.item-content
						padding: 0
	.finished-result-section
		.diogramm
			.first
				width: 140px
				border-bottom: 41px solid #04be5b;
				p
					font-size: 1.6rem
					top: 8px
			.second
				width: 113px
				border-bottom: 34px solid #04be5b
				p
					font-size: 1.6rem
					top: 5px
			.third
				width: 86px
				border-bottom: 32px solid #04be5b;
				p
					font-size: 1.6rem
					top: 4px
			.text
				font-size: 1.4rem
			.text-td
				padding-right: 13px
	.popup-8
		.dm-modal
			width: 90%
	.call_information_container
		width: 147px

	.main-result
		padding: 0
		input[type=submit]
			width: 100%
	.main-result-list
		padding-right: 10px
		padding-left: 42px
	.starting-work-item-container
		padding: 0
	.starting-work-item
		width: 100%
		padding: 0
		border-radius: 8px
		aside
			padding: 10px
			font-size: 1.3rem
		a
			padding: 10px 5px
			font-size: 2rem
			border-radius: 0 0 8px 8px
			width: 100%
	.starting-work-item-title
		width: 100px
		padding: 13px 5px
		font-size: 1.3rem
		.icon-container
			width: 35px
			height: auto
	.tabs-wrap-container
		width: calc(100% - 113px)
	.about-lever-context-container
		h3
			font-size: 3rem
	.about-lever-context-col
		width: auto
	.about-us-icon-container
		width: auto

	.header-add-project-title
		h2
			font-size: 25px
	.about-contextual-advertising-section
		.wrapper
			.position
				.item-1,
				.item-2
					.text
						font-size: 1.4rem
					.item-title
						font-size: 2rem
						.bold
							font-size: 1.6rem
				.item-3
					.item-title
						font-size: 2.3rem
					.text
						font-size: 1.4rem;
					.item-content
						.sec-title
							font-size: 1.8rem
						.text
							font-size: 1.4rem
	.developed-sociality-container
		margin-top: 0
/* Custom, iPhone Retina */
@media only screen and (max-width: 380px)
	.about-contextual-advertising-wrap-1,
	.about-contextual-advertising-wrap-2
		img
			display: none
	.popup5
		.dm-modal
			width: 100%
			padding: 50px 10px
	.solution-section
		.number
			width: 100%
		.about-problems
			width: 100%
	.advertising-section
		.wrapper
			.position
				.item
					width: 100%
	.advertising-section
		.container
			padding: 0
		.wrapper
			.position
				.item
					input[type=submit]
						width: 100%

@media only screen and (max-width: 320px)
	/**/
	// body,
	// html
	// 	overflow-x: hidden
	.about-contextual-advertising-wrap-1,
	.about-contextual-advertising-wrap-2
		img
			display: none

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width: 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width: 992px)
	/**/


/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px)
	body,
	html
		overflow: auto
	.container
		width: 1200px
	.header-container,
	.main-container,
	.finished-result-section,
	.main-quetions-container,
	.footer-position-contaiener,
	.header-container,
	.main-about-us-container,
	.starting-work-container,
	.developed-sociality-container,
	.about-contextual-advertising-container,
	.solution-container
		height: 100vh
		min-height: 650px

	.advertising-container,
	.scroll-mouse-container,
	.footer-row,
	.footer-container,
	.about-lever-context-container,
	.about-us-container-title,
	.about-us-container,
	.main-result-container,
	.finished-result-container-title,
	.owl-carousel-container,
	.main-quetions,
	.developed-sociality-foto-position,
	.starting-work-container-position,
	.about-contextual-advertising-position,
	.solution-position
		position: absolute
	.about-us-icon-container
		padding-left: 27px

