@import "bourbon"

/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	.another-promotion
		.another-promotion-title
			text-align: center
			width: 100%
			margin: 0
			margin-bottom: 25px
		.another-promotion-item
			display: block
	section
		margin-bottom: -3px
	.header_nav 
		display: none
	.button-mobile-menu
		display: block
		z-index: 100
	.mobile-menu
		display: block
	.call_information_container
		text-align: center
		.call_information
			margin: 0
	.about-us-container-item
		display: inline-block
		margin-bottom: 60px
	.main-about-us-container
		padding: 100px 0
	.main-result-container
		margin-top: 65px
	.owl-carousel-list-img-container
		width: 500px	
	.scroll-mouse-container
		display: none
	.header-form 
		input[type=submit]
			margin-top: 0
	.header-add-project-container
		margin-top: 40px
		margin-bottom: 50px

	.main-result-container
		margin-top: 0
	.starting-work-item-title
		opacity: 1
	.starting-work-item 
		input
			padding: 7px 60px
	.developed-sociality-foto-wrap
		width: 450px
		height: 450px
	.main
		transition: .5s
		right: 0
		position: relative
		&.active
			right: 200px
	.footer-title
		padding: 0
	.footer-nav-container
		display: none
	.footer-container
		margin: 60px 0
	.call_information_container
		text-align: center
		margin: auto
		width: 240px
		padding: 0
	.about-contextual-advertising-wrap-1,
	.about-contextual-advertising-wrap-2
		img
			width: 450px
	.starting-work-item-title
		padding: 17px 0 26px 14px
		font-size: 1.5rem
	body,
	html
		overflow: visible
	.starting-work-container-title
		margin-top: 85px
	.tabs-item-conatiner
		margin-bottom: -1px
	.tabs-container
		margin-bottom: 50px
	.main-quetions-container-title
		margin-top: 85px
	.ask-quetion-submit
		margin-bottom: 50px
	.developed-sociality-container-title
		margin-top: 26px
	.developed-sociality-wrap
		img
			width: 100px
	.developed-sociality-container
		margin: 50px 0
	.about-lever-context-container
		margin-bottom: 50px
	.about-lever-context-container-title,
	.finished-result-container-title
		margin-top: 50px
	.call_information_container
		width: 240px
	.owl-carousel-list-title
		p
			display: block
		a
			margin: 0
	.footer-position-contaiener
		min-height: 0
	.footer-row
		margin-bottom: 10px
	.another-promotion
		margin-bottom: 35px
		.another-promotion-title
			font-size: 2.5rem
		.another-promotion-item
			h4
				font-size: 2rem
	.finished-result-container-title
		p
			display: inline-block
@media only screen and (max-height: 950px)
	.top-menu-container
		width: 100%
	.main-quetions-container,
	.starting-work-container,
	.header-container,
	.main-container-clever-context,
	.main-about-us-container,
	.finished-result-container,
	.developed-sociality-container,
	.footer-position-contaiener
		min-height: 0
	.developed-sociality-foto-wrap
	/* Medium Devices, Desktops */
@media only screen and (max-width : 999px)
	.audit-form,
	.add-massage-form
		width: auto
		input[type=submit]
			display: block
			width: 262px
			margin-top: 8px
			margin: auto
	.audit-form-input-container,
	.input-container
		display: block
		width: 262px
		margin: auto
		margin-bottom: 9px
	.submit-lable-audit
		text-align: center
		padding-left: 12px
	.footer-form 
		input
			margin: 0
	.footer-row
		margin-bottom: 25px
@media only screen and (max-width : 992px)
	/**/
	.header-add-project-container
		padding: 10px
	.about-us-container-item
		margin-bottom: 0
	.developed-sociality-foto-wrap
		display: none
	.starting-work-item-container
		margin-bottom: 50px
	.accordion_title
		height: auto
		span
			top: 10px
			right: 15px
	.about-contextual-advertising-wrap-1,
	.about-contextual-advertising-wrap-2
		img
			width: 400px
	.starting-work-container-position
		padding: 0
	.advertising-title
		margin: 0
	.about-us-container-title
		p
			padding: 0
	.about-lever-context-col
		width: 400px
		margin: auto
		margin-bottom: 50px
	.starting-work-item
		margin: 0 5px
		aside
			padding: 0
			padding-top: 10px
	.audit-form
		input
			margin-right: 0
	.call_information 
		b
			font-size: 15px
/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	.advertising-title,
	.footer-aside
		text-align: center
		padding: 0 
	.about-us-container-title
		p
			padding: 0
	.starting-work-container-position
		padding: 0
	.melfori-footer,
	.footer-link-icon,
	.privaci-politic
		margin-bottom: 20px
		padding: 0
		text-align: center
	.header-form
		margin: 0
		margin-bottom: 50px
	.about-contextual-advertising-wrap-1,
	.about-contextual-advertising-wrap-2
		img
			width: 350px
		h2
			font-size: 2.5rem
	.about-contextual-advertising-title
		font-size: 3rem
	.about-us-icon-container
		margin-bottom: 50px
		width: 400px
	.starting-work-item-title
		padding: 17px 22px 26px 14px
		font-size: 1.5rem
	.starting-work-item-title
		text-align: center
		.icon-container
			float: none
			margin: 0
			margin-bottom: 10px
	.starting-work-item
		span
			font-size: 2.6rem
			padding: 5px 0
		aside
			b
				font-size: 2.3rem
		input
			padding: 7px 45px
	.starting-work-item-title
		padding: 17px 0 26px 0
		border-radius: 8px
		margin-bottom: 10px
		width: 150px
	.tabs-item
		padding: 0
	.tabs-container
		padding: 0
	.tabs-wrap
		&.active
			display: block
	.starting-work-item 
		display: block
	.tabs-item-conatiner
		float: left
	.tabs-wrap-container
		float: right
		width: calc(100% - 180px)
		padding: 0
		background: transparent
	.starting-work-item
		border-radius: 7px
		margin: 0
		margin-bottom: 15px
	.starting-work-container
		margin-bottom: 30px
	.owl-carousel-list
		padding: 0
	.owl-carousel-list-img-container
		width: 280px
	.finished-result-container-title
		font-size: 3rem
		margin-top: 40px
		margin-bottom: 20px
	.owl-carousel-list-title
		font-size: 2.3rem	
		padding-bottom: 10px
		a
			margin: 0

	.owl-carousel-list-article 
		h4
			font-size: 2rem
	.header_logo
		margin: 0
		width: 47px
		height: 40px
		margin-top: 8px
	.button-mobile-menu
		padding: 0 6px
		margin-top: 6px
		span
			margin: 6px 0
			width: 32px
	/*Disable Animation on Mobile Devices*/
	.animated
		/*CSS transitions*/
		-o-transition-property: none !important
		-moz-transition-property: none !important
		-ms-transition-property: none !important
		-webkit-transition-property: none !important
		transition-property: none !important
		/*CSS transforms*/
		-o-transform: none !important
		-moz-transform: none !important
		-ms-transform: none !important
		-webkit-transform: none !important
		transform: none !important
		/*CSS animations*/
		-webkit-animation: none !important
		-moz-animation: none !important
		-o-animation: none !important
		-ms-animation: none !important
		animation: none !important


/* Extra Small Devices, Phones */
@media only screen and (max-width : 680px)
	.about-contextual-advertising-wrap-1, 
	.about-contextual-advertising-wrap-2
		img
			width: 300px
@media only screen and (max-width : 573px)
	.about-contextual-advertising-wrap-1, 
	.about-contextual-advertising-wrap-2
		img
			float: none
			width: 100%
			margin: auto
	.popup,
	.popup6,
	.popup5,
	.popup4,
	.popup7
		.dm-modal
			width: 100%
			padding: 50px 20px 10px

@media only screen and (max-width : 480px)
	/**/
	.call_information_container
		display: none
	.main-result
		padding: 0
		input[type=submit]
			width: 100%
	.main-result-list
		padding-right: 10px
		padding-left: 42px
	.starting-work-item-container
		padding: 0
	.starting-work-item
		width: 100%
		padding: 0
		border-radius: 8px
		aside
			padding: 10px	
			font-size: 1.3rem	
		input
			padding: 10px 5px
			font-size: 2rem
			border-radius: 0  0 8px 8px
			width: 100%
	.starting-work-item-title
		width: 100px
		padding: 13px 5px
		font-size: 1.3rem
		.icon-container
			width: 35px
			height: auto
	.tabs-wrap-container
		width: calc(100% - 113px)
	.about-lever-context-container
		h3
			font-size: 3rem
	.about-lever-context-col
		width: auto
	.about-us-icon-container
		width: auto
	.advertising-title-aside-main
		font-size: 30px
	.header-add-project-title
		h2 
			font-size: 25px
/* Custom, iPhone Retina */
@media only screen and (max-width : 380px)	
	.about-contextual-advertising-wrap-1, 
	.about-contextual-advertising-wrap-2
		img
			display: none
	.popup5
		.dm-modal
			width: 100%
			padding: 50px 10px
@media only screen and (max-width : 320px)
	/**/
	// body,
	// html
	// 	overflow-x: hidden
	.about-contextual-advertising-wrap-1,
	.about-contextual-advertising-wrap-2
		img
			display: none


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */

@media only screen and (min-width : 1200px) and (min-height : 820px)
	// @media only screen and (min-height : 835px)
	body, 
	html
		overflow: hidden
	.container
		width: 1200px
	.header-container,
	.main-container,
	.finished-result-section,
	.main-quetions-container,
	.footer-position-contaiener,
	.header-container,
	.main-about-us-container,
	.starting-work-container,
	.developed-sociality-container,
	.about-contextual-advertising-container
		height: 100vh
		min-height: 950px

	.advertising-container,
	.scroll-mouse-container,
	.footer-row,
	.footer-container,
	.about-lever-context-container,
	// .audit-information-container,
	.about-us-container-title,
	.about-us-container,
	.main-result-container,
	.finished-result-container-title,
	.owl-carousel-container,
	.main-quetions,
	.developed-sociality-foto-position,
	.starting-work-container-position,
	.about-contextual-advertising-position
		position: absolute
	.about-us-icon-container
		padding-left: 27px

@media only screen and (max-height : 950px)
	.about-lever-context-container
		h3
			margin-bottom: 49px
			margin-top: 42px
	.finished-result-section
		padding-bottom: 60px
	.main-about-us-container
		padding-top: 85px


