@import "bourbon"
@import "vars.sass"
@import "fonts.sass"
@import "sprite/sprite.sass"
@import "app/libs/scroll/jquery.fullPage"  //Если мы хотим подключить стили для  jquery-ui (например для рабочих tooltips)
.row
	margin: 0
section
	text-align: center
body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.6
	font-family: $font_ROBOTO_LIGHT
	overflow-x: hidden	
	color: $main_txt_color
	&.overflow
		overflow-y: hidden !important
h1
	color: $main_txt_color
	font: 60px $font_ROBOTO_LIGHT
	letter-spacing: 0.6px
p
	padding: 0
	margin: 0

input[type=submit]
	transition: .2s
	border: none
	outline: none
	box-shadow: 0 2px 5px 1px #374547
	&:hover
		box-shadow: 0 2px 5px 1px #374547
html .loader
	background: none repeat scroll 0 0 #fff
	bottom: 0
	height: 100%
	left: 0
	position: fixed
	right: 0
	top: 0
	width: 100%
	z-index: 9999
	.loader_inner
		background-image: url("../img/preloader.gif")
		background-size: cover
		background-repeat: no-repeat
		background-position: center center
		background-color: #fff
		height: 60px
		width: 60px
		margin-top: -30px
		margin-left: -30px
		left: 50%
		top: 50%
		position: absolute
.hidden
	display: none
// Модальное окно
.popup4
	position: fixed
	top: 0
	left: 0
	display: none
	overflow: auto
	width: 100%
	height: 100%	
	z-index: 1000
	.close
		background: none
		right: 10px
		top: 10px
		span
			width: 100%
			background: #fff
			height: 2px
			display: block
			position: absolute
			bottom: 16px
		.left
			transform: rotate(45deg)
		.right
			transform: rotate(-45deg)
	.dm-table
		display: table
		width: 100%
		height: 100%
	.overlay
		width: 100%
		height: 100%
		position: fixed
		top: 0
		left: 0
		background: rgba(54,64,74,0.98)
		z-index: 1001
	.dm-cell
		display: table-cell
		padding: 0 1em
		vertical-align: middle
		text-align: center
	.dm-modal
		display: inline-block
		padding: 50px 46px 50px 46px
		max-width: 100%	
		text-align: center
		position: relative	
		overflow: auto
		width: 579px
		height: 100vh
		animation: fade .8s
		background-color: #fff
		border-radius: 20px
		z-index: 1002
		text-align: left
.popup5
	position: fixed
	top: 0
	left: 0
	display: none
	overflow: auto
	width: 100%
	height: 100%	
	z-index: 1000
	.close
		background: none
		right: 10px
		top: 10px
		span
			width: 100%
			background: #fff
			height: 2px
			display: block
			position: absolute
			bottom: 16px
		.left
			transform: rotate(45deg)
		.right
			transform: rotate(-45deg)
	.dm-table
		display: table
		width: 100%
		height: 100%
	.overlay
		width: 100%
		height: 100%
		position: fixed
		top: 0
		left: 0
		background: rgba(54,64,74,0.98)
		z-index: 1001
	.dm-cell
		display: table-cell
		padding: 0 1em
		vertical-align: middle
		text-align: center
	.dm-modal
		display: inline-block
		padding: 50px 46px 50px 46px
		max-width: 100%
		overflow: auto
		width: 779px
		height: 100vh			
		text-align: center
		position: relative	
		animation: fade .8s
		background-color: rgba(81,95,101,.99)
		border-radius: 10px
		z-index: 1002
		text-align: left
.popup6
	position: fixed
	top: 0
	left: 0
	display: none
	overflow: auto	
	width: 100%
	height: 100%	
	z-index: 1000
	font-size: 2rem
	color: #343434
	.close
		background: none
		right: 10px
		top: 10px
		span
			width: 100%
			background: #fff
			height: 2px
			display: block
			position: absolute
			bottom: 16px
		.left
			transform: rotate(45deg)
		.right
			transform: rotate(-45deg)

	.dm-table
		display: table
		width: 100%
		height: 100%
	.overlay
		width: 100%
		height: 100%
		position: fixed
		top: 0
		left: 0
		background: rgba(54,64,74,0.98)
		z-index: 1001
	.dm-cell
		display: table-cell
		padding: 0 1em
		vertical-align: middle
		text-align: center
	
	.dm-modal
		display: inline-block
		padding: 50px 46px 50px 46px
		max-width: 100%
		width: 470px		
		text-align: center
		position: relative	
		animation: fade .8s
		background-color: rgba(81,95,101,.99)
		border-radius: 10px
		z-index: 1002
	form
		text-align: left
	input,
	textarea
		width: 100%
		height: 40px
		margin-bottom: 20px
		color: #000
	input[type=submit]
		background: #04be5b
		color: #fff
		border: none
		border-radius: 5px
	textarea
		min-height: 100px
.dm-modal_inner
	text-align: left
	color: #fff
.dm-modal_inner_h1
	font-size: 24px
	padding: 23px 0 
	text-align: center
	text-transform: uppercase
	color: #fff
.dm-modal_inner_h2
	font-size: 18px
	padding: 20px 0
	color: #fff
.popup3
	position: fixed
	top: 0
	left: 0
	display: none
	overflow: auto
	width: 100%
	height: 100%	
	z-index: 1000
	.close
		background: none
		right: 10px
		top: 10px
		span
			width: 100%
			background: #fff
			height: 2px
			display: block
			position: absolute
			bottom: 16px
		.left
			transform: rotate(45deg)
		.right
			transform: rotate(-45deg)
	.dm-table
		display: table
		width: 100%
		height: 100%
	.overlay
		width: 100%
		height: 100%
		position: fixed
		top: 0
		left: 0
		background: rgba(54,64,74,0.98)
		z-index: 1001
	.dm-cell
		display: table-cell
		padding: 0 1em
		vertical-align: middle
		text-align: center
	
	.dm-modal
		display: inline-block
		padding: 50px 46px 50px 46px
		max-width: 100%
		width: 470px			
		text-align: center
		position: relative	
		animation: fade .8s
		background-color: #fff
		border-radius: 10px
		z-index: 1002
.popup2
	position: fixed
	top: 0
	left: 0
	display: none
	overflow: auto
	width: 100%
	height: 100%	
	z-index: 1000
	.close
		background: none
		right: 10px
		top: 10px
		span
			width: 100%
			background: #fff
			height: 2px
			display: block
			position: absolute
			bottom: 16px
		.left
			transform: rotate(45deg)
		.right
			transform: rotate(-45deg)
	.dm-table
		display: table
		width: 100%
		height: 100%
	.overlay
		width: 100%
		height: 100%
		position: fixed
		top: 0
		left: 0
		background: rgba(54,64,74,0.98)
		z-index: 1001
	.dm-cell
		display: table-cell
		padding: 0 1em
		vertical-align: middle
		text-align: center
	
	.dm-modal
		display: inline-block
		padding: 50px 46px 50px 46px
		max-width: 100%
		width: 700px		
		text-align: center
		position: relative	
		animation: fade .8s
		background-color: #fff
		border-radius: 10px
		z-index: 1002
.popup
	position: fixed
	top: 0
	left: 0
	display: none
	overflow: auto	
	width: 100%
	height: 100%	
	z-index: 1000
	font-size: 2rem
	color: #fff
	.close
		background: none
		right: 10px
		top: 10px
		span
			width: 100%
			background: #fff
			height: 2px
			display: block
			position: absolute
			bottom: 16px
		.left
			transform: rotate(45deg)
		.right
			transform: rotate(-45deg)
	.dm-table
		display: table
		width: 100%
		height: 100%
	.overlay
		width: 100%
		height: 100%
		position: fixed
		top: 0
		left: 0
		background: rgba(54,64,74,0.98)
		z-index: 1001
	.dm-cell
		display: table-cell
		padding: 0 1em
		vertical-align: middle
		text-align: center
	
	.dm-modal
		display: inline-block
		padding: 50px 46px 50px 46px
		max-width: 100%
		width: 470px		
		text-align: center
		position: relative	
		animation: fade .8s
		background-color: rgba(81,95,101,0.99)
		border-radius: 10px
		z-index: 1002
		.success_mail
			display: none
			color: #fff
			font: 24px $font_MyriadPro_Bold
			&.active
				display: block
	form
		text-align: left
		input,
		textarea
			width: 100%
			height: 40px
			margin-bottom: 20px
			border-radius: 5px
			color: #000
		input[type=submit]
			background: #04be5b
			color: #fff
			border: none
		textarea
			min-height: 100px
.popup7
	position: fixed
	top: 0
	left: 0
	display: none
	overflow: auto	
	width: 100%
	height: 100%	
	z-index: 1000
	font-size: 2rem
	color: #fff
	.close
		background: none
		right: 10px
		top: 10px
		span
			width: 100%
			background: #fff
			height: 2px
			display: block
			position: absolute
			bottom: 16px
		.left
			transform: rotate(45deg)
		.right
			transform: rotate(-45deg)
	.dm-table
		display: table
		width: 100%
		height: 100%
	.overlay
		width: 100%
		height: 100%
		position: fixed
		top: 0
		left: 0
		background: rgba(54,64,74,0.98)
		z-index: 1001
	.dm-cell
		display: table-cell
		padding: 0 1em
		vertical-align: middle
		text-align: center
	
	.dm-modal
		display: inline-block
		padding: 50px 46px 50px 46px
		max-width: 100%
		width: 470px		
		text-align: center
		position: relative	
		animation: fade .8s
		background-color: rgba(81,95,101,0.99)
		border-radius: 10px
		z-index: 1002
	form
		text-align: left
		input,
		textarea
			width: 100%
			height: 40px
			margin-bottom: 20px
			color: #000
		input[type=submit]
			background: #04be5b
			color: #fff
			border: none
			border-radius: 5px
		textarea
			min-height: 100px
	h2
		font-size: 2.5rem
		margin: 15px 0
		text-transform: uppercase

.popup-8
	.dm-modal
		background: rgba(81,95,101,0.99)
		width: 700px
		border: 0
		border-radius: 10px
	.close
		background: none
		right: 10px
		top: 10px
		span
			width: 100%
			background: #fff
			height: 2px
			display: block
			position: absolute
			bottom: 16px
		.left
			transform: rotate(45deg)
		.right
			transform: rotate(-45deg)
	.overlay
		background: rgba(54,64,74,0.98)
	#form
		width: 320px
		input
			padding-left: 10px
			border-radius: 5px
			border: none
			margin-bottom: 10px
		input[type=submit]
			box-shadow: 0 2px 5px 1px #374547
			margin-top: 10px
			&:hover
				box-shadow: 0 2px 5px 1px #374547
		float: left
		.form-aside
			color: #fff
			text-align: center
			margin-bottom: 20px
			h4
				font-size: 3rem
				margin-bottom: 15px
			p
				font-size: 1.4rem
				margin-bottom: 25px
				b
					color: #04be5b
	.modal-photo
		float: right
		margin-top: 16px
		color: #fff
		img
			margin-bottom: 10px
		h4
			font-size: 2.8rem
		


.modal_form_input_wrap
	position: relative
	display: block
.modal_input_error
	width: 141px
	height: 35px
	text-align: center
	display: none
	position: absolute
	right: -25px
	top: -20px
	padding-left: 10px
	font: 15px/35px $font_MyriadPro_Regular
	background-color: #F4F4F4
	border: 1px solid #C8C8C8
	-webkit-border-radius: 5px
	border-radius: 5px
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,.3)
	box-shadow: 0 0 10px rgba(0,0,0,.3)
	z-index: 1
	color: #000
	&.input_error_email
		width: 215px
	&.input_error_phone
		width: 235px
	&.form_error
		display: block
.modal_error_chest_img
	width: 9px
	position: relative
	background-image: url('../img/modal_error_chest_img.png')
.modal_error_triangle
	width: 9px
	position: relative
	background-image: url('../img/modal_error_triangle.png')
.modal_error_chest_img
	top: -30px
	left: 0				
	height: 9px
.modal_error_triangle
	top: -2px
	transform: rotate(180deg)
	left: 10px				
	height: 8px			
	

	label
		margin-bottom: 7px
		margin-left: 5px
		text-align: left
		display: block
		font: 14px $font_MyriadPro_Bold
		color: $main_txt_color
		&.active
			color: $main_txt_color
	input
		width: 100%
		height: 40px
		margin-bottom: 10px
		padding-left: 20px
		border: none		
		background-color: #F4F4F4		
		border-radius: 5px		
		box-shadow: 0 1px 0 rgba(0,0,2,.28)		
		transition: 1s
		&:focus		
			outline: 0
			box-shadow: 0 1px 0 rgba(255,81,46,.88)
	
	.sucess_mail
		display: none
		color: $main_txt_color
		font: 24px $font_MyriadPro_Bold
		&.active
			display: block
	input[type=submit]
		margin-bottom: 0
		margin-top: 20px
		padding-left: 0
		padding-right: 0
		@extend %main_btn
		&:hover
			@extend %main_btn_hover		
		&:active		
			@extend %main_btn_active				
		&:focus
			@extend %main_btn_focus
			outline: 0
.dm-modal_inner
	font-size: 1.6rem;
	color: #fff
.privacy-politic-modal
	width: 100%	
.close
	position: absolute
	right: 25px
	top: 25px
	width: 35px
	height: 36px
	display: block
	background: url('../img/modal_close.png') 0 0 no-repeat
// конец модального
// Header 
.header
	text-align: center

.header_logo
	display: inline-block
	float: left
	margin-top: 10px
	margin-left: 6px 
	a
		color: $main_txt_color
		font: 34px $font_ROBOTO_BLACK		
		&:hover
			text-decoration: none
.header_nav		
	display: inline-block
	position: relative	
	ul
		text-align: center
		li		
			list-style: none
			display: inline-block

			
.main_content
	text-align: center
	flex: 1 0 auto
.header
	background: url('../img/header_background.jpg') no-repeat
	background-size: cover
	background-position: center
.header_logo
	//background: url('../img/mel-logo.png') no-repeat
	width: 58px
	height: 53px
	background-size: contain
	margin: 6px 0 0
.header-container
	position: relative
	min-height: 575px
.header_nav
	font-size: 18px
	text-align: left
	padding-left: 25px
	margin-top: 21px
	padding-right: 0
	li	
		display: inline-block
		transition: all 0.2s ease
		border-bottom: 1px solid transparent
		padding-right: 6px
		padding-left: 6px
		margin-right: 16px
		padding-bottom: 8px
		&:hover
			border-bottom: 1px solid #04be5b
		&:last-child
			padding: 0
			padding-bottom: 8px
		&:hover
			a
				color: $main_active_color
		a
			margin-right: 2px
			transition: all 0.2s ease
			color: $main_txt_color
			&.active
				color: #fff

.onepage-pagination-container
	.onepage-pagination
		li
			&.active
				a
					color: #fff
					&:before
						content: ''
						position: absolute
						width: calc(100% + 13px)
						bottom: -12px
						left: -6px
						height: 1px
						background: #04be5b
			a
				position: relative
				transition: .3s
				&:before
					content: ''
					transition: .3s



.button-mobile-menu
	display: none
	padding: 0 10px
	margin-right: 4px
	float: right
	margin-top: 8px
	transition: left .5s
	span
		display: block
		background: #fff
		width: 31px
		height: 5px
		border-radius: 10px
		position: absolute
		right: 0px
		transition: .5s
		margin: 12px 19px 0px 0
		&.left
			top: 0
		&.center
			top: 10px
		&.right
			top: 20px
	&.active
		.center
			background: transparent
		.left
			transform: rotate(45deg)
			position: absolute
			top: 10px
		.right
			transform: rotate(-45deg)
			position: absolute
			top: 10px


.call_information_container
	padding-right: 0
	text-align: right
.call_information	
	span
		color: $main_txt_color
		display: inline-block
		width: 100%
		font-size: 14px
		margin-bottom: 2px
	b
		color: #fff
		font-size: 21px	
.advertising-title
	text-align: left
	margin-left: 13px
	color: $main_active_color
.advertising-container
	display: inline-block
	left: 0
	right: 0
	top: calc(50% - 240px)
.advertising-title-aside-main
	font-size: 37px
	line-height: 1.3
	position: relative
	margin-bottom: 51px
	span
		color: $decoration_color
.advertising-title-aside
	font-size: 18px
	position: relative
	b
		color: $decoration_color
.header-add-project-container
	line-height: 1.3
	padding: 50px
	background: rgba(255, 255, 255, 0.1)
	border-radius: 9px
.header-add-project-title	
	position: relative
	h2
		font-size: 30px
		color: $main_active_color
		margin-right: 15px
		margin-bottom: 19px
	p
		font-size: 14px
		margin-right: 6px
		margin-bottom: 36px
		margin-left: -4px
		b
			color: $decoration_color
.add-massage-form
	input
		border-radius: 5px
		border: 1px solid rgba(0,0,0,0.2)
		width: 245px
		height: 40px
		padding-left: 15px
		border: 1px solid rgba(0,0,0,0.2)
		color: #000
	input[type=submit]
		border: none
		background: $decoration_color
		color: $main_active_color
		padding: 0
	.submit
		box-shadow: 0 2px 5px 1px #374547
		&:hover
			box-shadow: 0 2px 5px 1px #374547
.header-form
	position: relative
	input
		margin-bottom: 10px	
		color: #000
	input[type=submit]
		margin-top: 10px
.scroll-mouse-container
	left: 0
	right: 0
	bottom: 50px
	h2
		font-size: 24px
		color: #fff
		margin-bottom: 30px
.scroll-mouse
	//background: url('../img/scroll-down-icon.png') no-repeat
	border: 4px solid #fff
	border-radius: 13px 14px 19px 19px
	width: 32px
	height: 49px
	margin: auto
	position: relative
	span
		display: block
		width: 4px
		height: 8px
		background: #fff
		border-radius: 5px
		margin: auto
		margin-top: 6px
	li
		display: block
		width: 8px
		height: 8px
		border: 0
		transform: rotate(42deg)
		margin: -1px auto 0
		border-right: 2px solid #fff
		border-bottom: 2px solid #fff


// Секция 
// Секция 
// Секция 