/*
  SASS variables are information about icon's compiled state, stored under its original file name

  .icon-home
    width: $icon-home-width

  The large array-like variables contain all information about a single icon
  $icon-home: x y offset_x offset_y width height total_width total_height image_path

  At the bottom of this section, we provide information about the spritesheet itself
  $spritesheet: width height image $spritesheet-sprites
  */
$arrow-name: 'arrow'
$arrow-x: 102px
$arrow-y: 45px
$arrow-offset-x: -102px
$arrow-offset-y: -45px
$arrow-width: 17px
$arrow-height: 10px
$arrow-total-width: 119px
$arrow-total-height: 113px
$arrow-image: '../img/sprite.png'
$arrow: (102px, 45px, -102px, -45px, 17px, 10px, 119px, 113px, '../img/sprite.png', 'arrow', )
$facebook-hover-name: 'facebook-hover'
$facebook-hover-x: 34px
$facebook-hover-y: 68px
$facebook-hover-offset-x: -34px
$facebook-hover-offset-y: -68px
$facebook-hover-width: 34px
$facebook-hover-height: 34px
$facebook-hover-total-width: 119px
$facebook-hover-total-height: 113px
$facebook-hover-image: '../img/sprite.png'
$facebook-hover: (34px, 68px, -34px, -68px, 34px, 34px, 119px, 113px, '../img/sprite.png', 'facebook-hover', )
$facebook-name: 'facebook'
$facebook-x: 0px
$facebook-y: 34px
$facebook-offset-x: 0px
$facebook-offset-y: -34px
$facebook-width: 34px
$facebook-height: 34px
$facebook-total-width: 119px
$facebook-total-height: 113px
$facebook-image: '../img/sprite.png'
$facebook: (0px, 34px, 0px, -34px, 34px, 34px, 119px, 113px, '../img/sprite.png', 'facebook', )
$header-mail-name: 'header_mail'
$header-mail-x: 102px
$header-mail-y: 0px
$header-mail-offset-x: -102px
$header-mail-offset-y: 0px
$header-mail-width: 17px
$header-mail-height: 19px
$header-mail-total-width: 119px
$header-mail-total-height: 113px
$header-mail-image: '../img/sprite.png'
$header-mail: (102px, 0px, -102px, 0px, 17px, 19px, 119px, 113px, '../img/sprite.png', 'header_mail', )
$icon-mail-name: 'icon-mail'
$icon-mail-x: 102px
$icon-mail-y: 19px
$icon-mail-offset-x: -102px
$icon-mail-offset-y: -19px
$icon-mail-width: 17px
$icon-mail-height: 13px
$icon-mail-total-width: 119px
$icon-mail-total-height: 113px
$icon-mail-image: '../img/sprite.png'
$icon-mail: (102px, 19px, -102px, -19px, 17px, 13px, 119px, 113px, '../img/sprite.png', 'icon-mail', )
$icon-phone1-name: 'icon-phone1'
$icon-phone1-x: 102px
$icon-phone1-y: 55px
$icon-phone1-offset-x: -102px
$icon-phone1-offset-y: -55px
$icon-phone1-width: 13px
$icon-phone1-height: 13px
$icon-phone1-total-width: 119px
$icon-phone1-total-height: 113px
$icon-phone1-image: '../img/sprite.png'
$icon-phone1: (102px, 55px, -102px, -55px, 13px, 13px, 119px, 113px, '../img/sprite.png', 'icon-phone1', )
$instagram-hover-name: 'instagram-hover'
$instagram-hover-x: 0px
$instagram-hover-y: 68px
$instagram-hover-offset-x: 0px
$instagram-hover-offset-y: -68px
$instagram-hover-width: 34px
$instagram-hover-height: 34px
$instagram-hover-total-width: 119px
$instagram-hover-total-height: 113px
$instagram-hover-image: '../img/sprite.png'
$instagram-hover: (0px, 68px, 0px, -68px, 34px, 34px, 119px, 113px, '../img/sprite.png', 'instagram-hover', )
$instagram-name: 'instagram'
$instagram-x: 0px
$instagram-y: 0px
$instagram-offset-x: 0px
$instagram-offset-y: 0px
$instagram-width: 34px
$instagram-height: 34px
$instagram-total-width: 119px
$instagram-total-height: 113px
$instagram-image: '../img/sprite.png'
$instagram: (0px, 0px, 0px, 0px, 34px, 34px, 119px, 113px, '../img/sprite.png', 'instagram', )
$lofo-footer-name: 'lofo-footer'
$lofo-footer-x: 68px
$lofo-footer-y: 68px
$lofo-footer-offset-x: -68px
$lofo-footer-offset-y: -68px
$lofo-footer-width: 31px
$lofo-footer-height: 26px
$lofo-footer-total-width: 119px
$lofo-footer-total-height: 113px
$lofo-footer-image: '../img/sprite.png'
$lofo-footer: (68px, 68px, -68px, -68px, 31px, 26px, 119px, 113px, '../img/sprite.png', 'lofo-footer', )
$marker-name: 'marker'
$marker-x: 102px
$marker-y: 32px
$marker-offset-x: -102px
$marker-offset-y: -32px
$marker-width: 16px
$marker-height: 13px
$marker-total-width: 119px
$marker-total-height: 113px
$marker-image: '../img/sprite.png'
$marker: (102px, 32px, -102px, -32px, 16px, 13px, 119px, 113px, '../img/sprite.png', 'marker', )
$twitter-hover-name: 'twitter-hover'
$twitter-hover-x: 68px
$twitter-hover-y: 34px
$twitter-hover-offset-x: -68px
$twitter-hover-offset-y: -34px
$twitter-hover-width: 34px
$twitter-hover-height: 34px
$twitter-hover-total-width: 119px
$twitter-hover-total-height: 113px
$twitter-hover-image: '../img/sprite.png'
$twitter-hover: (68px, 34px, -68px, -34px, 34px, 34px, 119px, 113px, '../img/sprite.png', 'twitter-hover', )
$twitter-name: 'twitter'
$twitter-x: 68px
$twitter-y: 0px
$twitter-offset-x: -68px
$twitter-offset-y: 0px
$twitter-width: 34px
$twitter-height: 34px
$twitter-total-width: 119px
$twitter-total-height: 113px
$twitter-image: '../img/sprite.png'
$twitter: (68px, 0px, -68px, 0px, 34px, 34px, 119px, 113px, '../img/sprite.png', 'twitter', )
$vk-hover-name: 'vk-hover'
$vk-hover-x: 34px
$vk-hover-y: 34px
$vk-hover-offset-x: -34px
$vk-hover-offset-y: -34px
$vk-hover-width: 34px
$vk-hover-height: 34px
$vk-hover-total-width: 119px
$vk-hover-total-height: 113px
$vk-hover-image: '../img/sprite.png'
$vk-hover: (34px, 34px, -34px, -34px, 34px, 34px, 119px, 113px, '../img/sprite.png', 'vk-hover', )
$vk-icon-name: 'vk-icon'
$vk-icon-x: 0px
$vk-icon-y: 102px
$vk-icon-offset-x: 0px
$vk-icon-offset-y: -102px
$vk-icon-width: 21px
$vk-icon-height: 11px
$vk-icon-total-width: 119px
$vk-icon-total-height: 113px
$vk-icon-image: '../img/sprite.png'
$vk-icon: (0px, 102px, 0px, -102px, 21px, 11px, 119px, 113px, '../img/sprite.png', 'vk-icon', )
$vk-name: 'vk'
$vk-x: 34px
$vk-y: 0px
$vk-offset-x: -34px
$vk-offset-y: 0px
$vk-width: 34px
$vk-height: 34px
$vk-total-width: 119px
$vk-total-height: 113px
$vk-image: '../img/sprite.png'
$vk: (34px, 0px, -34px, 0px, 34px, 34px, 119px, 113px, '../img/sprite.png', 'vk', )
$spritesheet-width: 119px
$spritesheet-height: 113px
$spritesheet-image: '../img/sprite.png'
$spritesheet-sprites: ($arrow, $facebook-hover, $facebook, $header-mail, $icon-mail, $icon-phone1, $instagram-hover, $instagram, $lofo-footer, $marker, $twitter-hover, $twitter, $vk-hover, $vk-icon, $vk, )
$spritesheet: (119px, 113px, '../img/sprite.png', $spritesheet-sprites, )

/*
  The provided mixins are intended to be used with the array-like variables

  .icon-home
    @include sprite-width($icon-home)

  .icon-email
    @include sprite($icon-email)

  Example usage in HTML:
    `display: block` sprite:
    <div class="icon-home"></div>

  To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
    // CSS
    .icon {
      display: inline-block;
    }

    // HTML
    <i class="icon icon-home"></i>
  */
@mixin sprite-width($sprite)
  width: nth($sprite, 5)

@mixin sprite-height($sprite)
  height: nth($sprite, 6)

@mixin sprite-position($sprite)
  $sprite-offset-x: nth($sprite, 3)
  $sprite-offset-y: nth($sprite, 4)
  background-position: $sprite-offset-x  $sprite-offset-y

@mixin sprite-image($sprite)
  $sprite-image: nth($sprite, 9)
  background-image: url(#{$sprite-image})

@mixin sprite($sprite)
  @include sprite-image($sprite)
  @include sprite-position($sprite)
  @include sprite-width($sprite)
  @include sprite-height($sprite)

/*
  The `sprites` mixin generates identical output to the CSS template
    but can be overridden inside of SASS

  @include sprites($spritesheet-sprites)
  */
@mixin sprites($sprites)
  @each $sprite in $sprites
    $sprite-name: nth($sprite, 10)
    .#{$sprite-name}
      @include sprite($sprite)
